* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  background-image: linear-gradient(to bottom, #1c6be1, #007ce7, #008ceb, #009aec, #12a8eb);
}

.headerName {
  font-weight: 900;
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

.cityNameContainer {
  display: flex;
  align-items: center;
}

.cityName {
  margin-right: 20px;
}

.cityInput {
  border-radius: 5px;
  padding-left: 15px;
  height: 40px;
  border: 0;
}

.cityInput:focus {
  outline: none;
}

.cityButton {
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  height: 40px;
  width: 80px;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  justify-content: center;
}

.infoWrapper {
  display: flex;
  margin-top: 40px;
}
